@import '~bootstrap/scss/bootstrap';
@import 'variable';

body {
 background-color: $color-scheme;
}

.jumbotron {
  text-align: center;
  background-color: white;
}

#navBar {
  display: none
}

#new-game {
  background-color: $color-scheme-tint;
  border-color: $color-scheme-tint;
  color: $color-scheme;
}
#new-game:hover {
  color: $color-scheme-tint;
  background-color: $color-scheme;
  border-color: $color-scheme;
}

#modal-button {
  background-color: $color-scheme-tint;
  border-color: $color-scheme-tint;
  color: $color-scheme;
}

#modal-button:hover {
  color: $color-scheme-tint;
  background-color: $color-scheme;
  border-color: $color-scheme;
}

#form-sign-up{
  display: none;
}

#show-login {
  display: none;
}

#game-section {
  display: none;
}

#game-message {
  color: #F7E0D4;
  font-size: 25px;
}

.col {
  margin: 5px 0px 0px 0px;
}

#game-board {
  display: none;
}

.tic-tac-toe-box {
  border: 1px solid;
}

.cell {
  background: $color-scheme-tint;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  height: 150px;
  width: 150px;
  font-size: x-large;
}

@media only screen and (max-width: 380px) {
  #logo-img {
    max-width: 250px;
  }
  #show-login {
    max-width: 250px;
    font-size: 15px;
  }
  #show-sign-up {
    max-width: 250px;
    font-size: 15px;
  }
}
