@import '~bootstrap/scss/bootstrap';
@import 'variable';

body {
 background-color: $color-scheme;
}

#header-container {
  display: none;
  margin: 10px 0px 0px 0;
}

#ask-game {
  display: none;
}

#back-button {
  display: none;
}

#user-info-button {
  display: none;
}


#user-info-container {
  display: none;
  border: 1px solid;
}

#game-section {
  display: none;
}

#auth-container {
  margin: 10px 0px 0px 0;
}

#form-sign-up, #form-login {
  margin: 10px 0px 0px 0px;
}

.success {
  color: #F7E0D4;
  font-size: 25px;
}

.failure {
  color: #FC600A;
  font-size: 25px;
}

.col {
  margin: 5px 0px 0px 0px;
}

#game-board {
  display: none;
}

.tic-tac-toe-box {
  border: 1px solid;
}

.cells {
  background: $color-scheme-tint;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  height: 150px;
  width: 150px;
}
